<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.thiengo.adsappjolt">

    <!-- Appjolt - Required -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Appjolt - Highly Recommended -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Appjolt -->
        <!-- Appjolt Activity -->
        <activity android:name="com.appjolt.sdk.AppjoltActivity"
            android:taskAffinity="com.appjolt.sdk.twentyeight"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"/>

        <!-- Appjolt Service -->
        <service
            android:name="com.appjolt.sdk.AppjoltService"
            android:enabled="true"
            android:process=":appjolt" />

        <!-- Appjolt BOOT receiver -->
        <receiver
            android:name="com.appjolt.sdk.AppjoltReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
